<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    
  </head>
  <body>
    {{{body}}}
  </body>
  <script src ='/javascripts/chart.js'></script>
  <script src ='/javascripts/requests.js'></script>
  <script type="module" src ='/javascripts/index.js'></script>
</html>
